*{
    list-style: none;
    text-decoration: none;
}


html{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0px;
    overflow-y: scroll;
    scrollbar-color: rgb(254, 51, 16) rgb(0, 0, 0);
    scrollbar-width: thin;
}

html {
  overflow-y: scroll;
}
html::-webkit-scrollbar { width: 2em; }
html::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
html::-webkit-scrollbar-thumb { background: linear-gradient(45deg, orange, darksalmon); }


body{
    margin: 0 auto;
}

.landing{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./img/pexels-iain-1191393-2267909.jpg);
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-wrapper-list{
    width: 50vw;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper-list-item{
    font-family: poppins;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.6px;
    color: antiquewhite;
    text-transform: uppercase;
}


.landing-main{
  font-family: MuseoModerno;
  font-weight: 900;
  color: antiquewhite;
  font-size: 420px;
  letter-spacing: -40px;
  padding-left: 8px;
  padding-top: 50px;
  margin-top: 0px;
  line-height: 90%;
}


.ad{
    width: 100vw;
    height: fit-content;
    text-align: center;
    background-color: rgb(255, 51, 0);
}

.ad-main{
    font-family: poppins;
    font-size: 180px;
    line-height: 97%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;
    padding-top: 200px;
    padding-bottom: 30px;
    color: antiquewhite;
}

.ad-subtext{
   font-size: 26px;
   font-family: poppins;
   font-weight: 200;
   color: antiquewhite;
   padding-bottom: 80px;
   margin-bottom: 0px;
}

.work{
    width: 100vw;
    height: 80vh;
    background-color: rgb(255, 51, 0);
}

.work-list{
    margin-left: 0px;
    padding-left: 30px;
    margin-top: 60px;
    height: fit-content;
        margin-bottom: 180px;
}

.work-list-item{
    width: fit-content;
}


.work-text-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
}


.work-small{
    width:96vw;
    border-bottom: 1px solid antiquewhite;
    margin: 0px;
    font-weight: 300;
    font-family: poppins;
    font-size: 29px;
    color: antiquewhite;
    padding-bottom: 12px;
}

.work-overpara{
    font-weight: 900;
    font-family: poppins;
    color: antiquewhite;
    font-size: 60px;
    line-height: 97%;
    text-transform: uppercase;
    padding-top: 16px;
    margin: 0px;
}


.work-list-item-name{
 font-weight: 900;
    font-family: poppins;
    color: rgb(255, 51, 0);
    font-size: 66px;
    line-height: 97%;
    text-transform: uppercase;
    padding-top: 16px;
    margin: 0px;
    padding-bottom: 5px;
}


.work-list-item-name-place{
    font-size: 20px;
   font-family: poppins;
   margin-top: 0px;
   font-weight: 300;
   padding-top: 9px;
   letter-spacing: 0.3px;
   color: rgb(255, 51, 0);
   text-transform: uppercase;
}

.work-img{
    width: 850px;
}

.work-list-item-div2{
    border-bottom: 1px solid rgb(255, 51, 0);
}