*{
    list-style: none;
    text-decoration: none;
}


html{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0px;
    overflow-y: scroll;
    scrollbar-color: rgb(254, 51, 16) rgb(0, 0, 0);
    scrollbar-width: thin;
}

html {
  overflow-y: scroll;
}
html::-webkit-scrollbar { width: 2em; }
html::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
html::-webkit-scrollbar-thumb { background: linear-gradient(45deg, orange, darksalmon); }


body{
    margin: 0 auto;
}

.landing{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./img/pexels-iain-1191393-2267909.jpg);
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-wrapper-list{
    width: 50vw;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper-list-item{
    font-family: poppins;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.6px;
    color: antiquewhite;
    text-transform: uppercase;
}


.landing-main{
  font-family: MuseoModerno;
  font-weight: 900;
  color: antiquewhite;
  font-size: 420px;
  letter-spacing: -40px;
  padding-left: 0px;
  padding-top: 50px;
  margin-top: 0px;
  line-height: 90%;
}


.ad{
    width: 100vw;
    height: fit-content;
    text-align: center;
    background-color: rgb(255, 51, 0);
}

.ad-main{
    font-family: poppins;
    font-size: 180px;
    line-height: 97%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;
    padding-top: 200px;
    padding-bottom: 30px;
    color: antiquewhite;
}

.ad-subtext{
   font-size: 26px;
   font-family: poppins;
   font-weight: 200;
   color: antiquewhite;
   padding-bottom: 150px;
}