*{
    list-style: none;
    text-decoration: none;
}


html{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0px;
}

body{
    margin: 0 auto;
}

.landing{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./img/pexels-iain-1191393-2267909.jpg);
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-wrapper-list{
    width: 50vw;
    padding-left: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper-list-item{
    font-family: poppins;
    font-size: 23px;
    color: antiquewhite;
    text-transform: uppercase;
}