*{
    list-style: none;
    text-decoration: none;
}


html{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0px;
    overflow-y: scroll;
    scrollbar-color: rgb(254, 51, 16) rgb(0, 0, 0);
    scrollbar-width: thin;
}

html {
  overflow-y: scroll;
}
html::-webkit-scrollbar { width: 2em; }
html::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
html::-webkit-scrollbar-thumb { background: linear-gradient(45deg, orange, darksalmon); }


body{
    margin: 0 auto;
}

.landing{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./img/pexels-iain-1191393-2267909.jpg);
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-wrapper-list{
    width: 50vw;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper-list-item{
    font-family: poppins;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.6px;
    color: antiquewhite;
    text-transform: uppercase;
}

.landing-wrapper{
    width: 100vw;
    display:flex;
    justify-content:center;
}

.landing-main{
  font-family: MuseoModerno;
  font-weight: 900;
  color: antiquewhite;
  font-size: 420px;
  letter-spacing: -40px;
  padding-left: 8px;
  padding-top: 50px;
  margin-top: 0px;
  line-height: 90%;
  margin-right: 50px;
}


.ad{
    width: 100vw;
    height: fit-content;
    text-align: center;
    background-color: rgb(255, 51, 0);
}

.ad-main{
    font-family: poppins;
    font-size: 180px;
    line-height: 97%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 900;
    padding-top: 200px;
    padding-bottom: 30px;
    color: antiquewhite;
}

.ad-subtext{
   font-size: 26px;
   font-family: poppins;
   font-weight: 200;
   color: antiquewhite;
   padding-bottom: 80px;
   margin-bottom: 0px;
}

.work{
    width: 100vw;
    height: 80vh;
    background-color: rgb(255, 51, 0);
}

.work-list{
    margin-left: 0px;
    padding-left: 30px;
    margin-top: 18px;
    height: fit-content;
    margin-bottom: 180px;
    overflow-x: scroll;
    display: flex;
    gap: 100px;
      display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
    scrollbar-width: none;

}

.work-list-item{
    width: fit-content;
      flex-shrink: 0;
  scroll-snap-align: start;
}


.work-text-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
}


.work-small{
    width:96vw;
    border-bottom: 1px solid antiquewhite;
    margin: 0px;
    font-weight: 300;
    font-family: poppins;
    font-size: 29px;
    color: antiquewhite;
    padding-bottom: 12px;
}

.work-overpara{
    font-weight: 900;
    font-family: poppins;
    color: antiquewhite;
    font-size: 60px;
    line-height: 97%;
    text-transform: uppercase;
    padding-top: 16px;
    margin: 0px;
}

.work-btn-wrapper{
    width: 98vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.work-btn1{
    border: 1px solid antiquewhite;
    background-color: rgba(255, 228, 196, 0);
    border-radius: 50%;
    color: antiquewhite;
    padding: 9px 13px;
}

.work-btn2{
    border: 1px solid antiquewhite;
    background-color: rgba(255, 228, 196, 0);
    border-radius: 50%;
    color: antiquewhite;
    padding: 9px 13px;
    margin-left: 12px;
}



.work-list-item-number{
    font-family: poppins;
    font-size: 15px;
    color: rgb(255, 51, 0);
}


.work-list-item-name{
 font-weight: 900;
    font-family: poppins;
    color: rgb(255, 51, 0);
    font-size: 66px;
    line-height: 97%;
    text-transform: uppercase;
    padding-top: 16px;
    margin: 0px;
    padding-bottom: 5px;
}


.work-list-item-para{
    font-size: 20px;
   font-family: poppins;
   margin-top: 0px;
   font-weight: 300;
   padding-top: 9px;
   letter-spacing: 0.3px;
   color: rgb(255, 51, 0);
   text-transform: uppercase;
}

.work-img{
    width: 850px;
}

.work-list-item-div2{
    border-bottom: 1px solid rgb(255, 51, 0);
}

.services{
    margin-top: 500px;
}

.services-small{
    color:  rgb(255, 51, 0);
    width:96vw;
    border-bottom: 1px solid rgb(255, 51, 0);
    margin: 0px;
    font-weight: 300;
    font-family: poppins;
    font-size: 29px;
    padding-bottom: 12px;
}

.services-overpara{
    color:  rgb(255, 51, 0);
    font-weight: 900;
    font-family: poppins;
    font-size: 60px;
    line-height: 97%;
    text-transform: uppercase;
    padding-top: 16px;
    margin: 0px;
}

.services-list{
    margin-left: 30px;
    padding-left: 0px;
    margin-left: 30px;
    margin-top: 100px;
}

.services-list-item{
    width: 95.4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid rgb(255, 51, 0);
    border-radius: 50px;
    
}

.services-list-item-main{
    color:  rgb(255, 51, 0);
    font-weight: 900;
    font-family: poppins;
    font-size: 60px;
    line-height: 97%;
    text-transform: uppercase;
    padding-top: 90px;
    padding-bottom: 15px;
    margin-left: 3.4%;
    margin-right: 3.4%;
    border-bottom: 1px solid rgb(255, 51, 0);
}

.services-wrapper{
    margin-left: 3.4%;
    margin-right: 3.4%;
    padding-top: 40px;
}

.services-wrapper-item{
    margin-top: 0px;
    font-weight: 300;
    font-family: poppins;
    font-size: 29px;
    color: rgb(255, 51, 0);
    padding-bottom: 12px;
    line-height: 60%;
}