*{
    list-style: none;
    text-decoration: none;
}


html{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0px;
}

body{
    margin: 0 auto;
}

.landing{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(./img/pexels-iain-1191393-2267909.jpg);
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-wrapper-list{
    width: 50vw;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper-list-item{
    font-family: poppins;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.6px;
    color: antiquewhite;
    text-transform: uppercase;
}


.landing-main{
  font-family: MuseoModerno;
  font-weight: 900;
  color: antiquewhite;
  font-size: 420px;
  letter-spacing: -40px;
  padding-left: 0px;
  padding-top: 50px;
  margin-top: 0px;
  line-height: 90%;
}